{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    <h3 class="mt-4 ml-5">Mon profil</h3>
    <br>
    <h5 class="ml-5">Mon email : {{ app.user.email }}</h5>
    <br>
    <h5 class="ml-5">Bientôt j'aurais d'autres informations !</h5>


{% endblock %}
