{% extends 'base.html.twig' %}

{% block title %}Modifier un programme{% endblock %}

{% block body %}
    <h1>Modifier un programme</h1>

    {{ include('program/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('program_index') }}">Retour</a>
{% endblock %}