{% extends "base.html.twig" %}

{% block body %}

    <div class="add-form">
        <h2 class="addh2 pt-5">Ajouter une nouvelle série </h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type='submit' value='Ajouter une série'>
    {{ form_end(form) }}
    </div>
{% endblock %}