:root{
    --grey: #C4C4C4;
}

$primary: #1A242F;
$secondary: #DFEEFF;

body{
    background-color: var(--grey);

}

.link{
    color: whitesmoke;
}

form{
    margin: 2em 25em 0 25em;
}

h2.addh2{
    text-align: center;
}

a.btn, button.btn{
    background-color: $primary;
    color: $secondary;
    &:hover{
        background-color: $secondary;
        color: black;
    }
}